# Deployed Smart Contract Addresses
BATCH_REGISTRY_CONTRACT_ID=CDFARKBKLJYRLJTY7E7GV5HECEXRTSOVBUM2BFPLZQCF5FA3P3XOKDPD
CUSTODY_CHAIN_CONTRACT_ID=CB35ZOHKY7XS57NF4QJLHBZWSWU3PXNJH6ELELATV6U6UHIZUPV3CXVM

# Soroban / Stellar Network Configuration
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Smart Contract Deployer Key (Do not commit actual private keys to Git!)
DEPLOYER_SECRET_KEY=YOUR_DEPLOYER_SECRET_KEY_HERE
